@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* Begin Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}
/* End Reset */

/* Utility Classes */
.nowrap {
    white-space: nowrap;
}
/* End Utility Classes */

.offscreen {
    position: absolute;
    left: -10000px;
}

body {
    font-family: "Nunito", sans-serif;
    min-height: 100vh;
    background-color: aliceblue;
    background-image: url(../img/bubbles.png), linear-gradient(to left, steelblue, #fff);
}

.container {
    background-color: rgb(251, 210, 156);
    background-image: url("../img/map-2176x1451.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}