@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* Begin Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}
/* End Reset */

/* Utility Classes */
.nowrap {
    white-space: nowrap;
}
/* End Utility Classes */

.offscreen {
    position: absolute;
    left: -10000px;
}

body {
    font-family: "Nunito", sans-serif;
    min-height: 100vh;
    background-color: aliceblue;
}

.clip {
    font-weight: 800;
    font-size: 18rem;
    text-align: center;
    background-image: url(../img/scenic-2200x1331.png);
}